<app-menu></app-menu>
<body>
    <div class="page-holder d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
                <div class="pr-lg-5"><img src="img/illustration.svg" alt="" class="img-fluid"></div>
                </div>
            <div class="col-lg-5 px-lg-4">
            <h1 class="text-base text-primary text-uppercase mb-4">JET System</h1>
            <h2 class="mb-4">¡Bienvenido!</h2>
            <p class="text-muted">Por favor, ingresa tus datos para continuar</p>
            <form [formGroup]="CreateForm" id="loginForm" class="mt-4">
                <div class="form-group mb-4">
                    <input type="email" name="username" formControlName="email" placeholder="Ingresa tu matrícula" class="form-control border-0 shadow form-control-lg">
                </div>
                <div class="form-group mb-4">
                    <input type="password" name="passowrd"  formControlName="password" placeholder="Contraseña" class="form-control border-0 shadow form-control-lg text-violet">
                </div>
                <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                    <label for="customCheck1" class="custom-control-label">Recuérdame</label>
                </div>
                </div>
                    <button type="button" (click)="doSave()" class="btn btn-primary shadow px-5">Iniciar</button>
            </form>
        </div>
    </div>
    <p class="mt-5 mb-0 text-gray-400 text-center">Diseñado por <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a> & JET System</p>
    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
    </div>
</div>
</body>
