<div>
    <app-menu></app-menu>
    <article>
        <h2>Perfil</h2>
        <label id="nombre" name="nombre">{{ usuario.nombre }} {{usuario.apellido}}</label>
        <h5 *ngIf="usuario.nombre_grupo" id="grado">Grupo:</h5>
        <label id="grado2" name="grado">{{usuario.nombre_grupo}}</label>
        <h5 *ngIf="usuario.nombre_grupo" id="carrera">Carrera:</h5>
        <label id="carrera2" name="carrera">{{usuario.nombre_carrera}}</label>
    </article>
    <aside *ngIf="info">
        <h2 id="mat">MATERIAS</h2>
        <div id="tabla" class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">

                    <a *ngFor="let materia of info" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">
                        <div class="input-group mb-3">
                            &nbsp;<label name="S1A1"></label>
                            <div>
                              <b>{{materia.nombre}}</b>
                              <br> - Créditos: {{materia.creditos}}
                              <p *ngIf="materia.estado == 1"> - Estado: Sin registrar</p>
                              <p *ngIf="materia.estado == 2"> - Estado: Registrada</p>
                              <p *ngIf="materia.estado == 3"> - Estado: Aprobada</p>
                              <p *ngIf="materia.estado == 4"> - Estado: Reprobada</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </aside>
</div>
