<div>
    <app-menu></app-menu>
    <article>
        <br>
        <section>
            <h2>Ingeniería en Software</h2>
            <article id="S1">
                <h5>Primer Cuatrimestre.</h5>
                <img id="primer" src="../../../../assets/img/Primero.png">
            </article>
            <aside id="S2">
                <h5>Cuarto Cuatrimestre.</h5>
                <img id="cuarto" src="../../../../assets/img/Cuarto.png">
            </aside>
            <aside id="S3">
                <h5>Séptimo Cuatrimestre.</h5> 
                <img id="septimo" src="../../../../assets/img/Septimo.png">
            </aside>
        </section>
    </article>
</div>
